* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2EFE9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    margin: 10px;
}

h1 {
    padding-top: 10px;
    font-family: 'Kalam', cursive;
    font-size: 64px;
    font-weight: 700;
    color: #D91C0B;
}

h2 {
    color: #0D0000;
    font-weight: 600;
}

.book-empty-message {
    margin: 45px;
}

.entries {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.entry {
    background-color: #f7f4f3;
    box-shadow: 0 0 10px 10px rgba(140,138,135,0.07);
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    word-wrap: break-word;
    text-align: center;
}

.entry p {
    margin: auto;
}

.entry hr {
    color: #D91C0B;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.name {
    color: #0D0000;
    font-weight: 600;
    padding-top: 10px;
}

.city {
    color: #D91C0B;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.content {
    color: #0D0000;
    font-weight: 500;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.date {
    color: #8C8A87;
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 15px;
}

form {
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input, textarea {
    font: 1em sans-serif;
    background-color: #f7f4f3;
    border: 1px solid #bfbebe;
    border-radius: 10px;
    width: 450px;
    padding: 10px;
    margin: 3px;
}

button {
    margin: 20px auto;
    padding: 15px 30px;
    border: none;
    background-color: #D91C0B;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #F2EFE9;
    transition: all 0.2s;
}

button:hover {
    background-color: #e32d1d;
    font-size: 19px;
    cursor: pointer;
}